<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>je suis arrivée à lausanne toute les filles ont vers 16 à 25 ans je me sens très seul !!</p>
        </div>

        <div>
            <p>published: 14.06.2014, 15:58</p>
            <h2><a href="">Mon second post</a></h2>
            <p>c'est la fin de la journée c'était super avec Anna et Leila crée un blog est super interéssant à faire sois même !!</p>
        </div>
    </body>
</html>